<h1>Listing jobs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Salary</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.user_id %></td>
    <td><%= job.title %></td>
    <td><%= job.description %></td>
    <td><%= job.salary %></td>
    <td><%= job.group.name %></td>
    <td><%= link_to 'Show', [@group, job] %></td>
    <td><%= link_to 'Edit', edit_group_job_path(@group, job) %></td>
    <td><%= link_to 'Destroy', [@group, job], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_group_job_path %>
