<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job.user %>
</p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Salary:</b>
  <%= @job.salary %>
</p>

<p>
  <b>Group:</b>
  <%= @job.group %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
