<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Salary:</b>
  <%= @job.salary %>
</p>

<p>
  <b>Group:</b>
  <%= @job.group.name %>
</p>


<%= link_to 'Edit', edit_group_job_path(@group,@job) %> |
<%= link_to 'Back', group_jobs_path(@group) %>
