<%= form_for(@group) do |f| %>
  <%= render partial: '/shared/errors', locals: { o: @group } %>

  <%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
