<%= link_to "Class Economy", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>


  <% if user_signed_in? && current_user.id <= 4 %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Switch user from <%= current_user.name %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Test Admin", "/switch_user?user_id=1", remote: true %>
        </li>
        <li>
          <%= link_to "Test Teacher", "/switch_user?user_id=2", remote: true %>
        </li>
        <li>
          <%= link_to "Test Student 1", "/switch_user?user_id=3", remote: true %>
        </li>
        <li>
          <%= link_to "Test Student 2", "/switch_user?user_id=4", remote: true %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
